body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  color: seashell;
  background-color: black;
  opacity: 0.7;
  text-align: center;
}

/* Navigation */

.logo {
  display: flex;
  align-items: center;
  text-align: right;
  background-color: black;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  padding: 10px;
  height: 3.136rem;
  width: 100%;
  position: fixed;
  z-index: 2;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-left: 20px;
  text-decoration: underline;
}

#teacozy {
  height: 50px;
  width: auto;
  align-content: flex-start;
  margin: 10px;
}

div .logo {

}



/* Header */
.header {
  display: flex;
  justify-content: center;
}

.mission {
  margin-top: 69px;
  background-image: url("../images/img-mission-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
}

.main {
  background-color: black;
  position: relative;
  top: 40%;
}

.main h2 {
  padding-top: 5px;
}

.main h4 {
  padding-bottom: 7px;
}

/* Tea */
.imageblock {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

 .imagewrapper {
  display: inline-block;
  padding: 0 1%;
  width: 300px;
}

img {
 width: 300px;
 height: 200px;
}

/* Locations */

.locations {
  background-image: url(../images/img-locations-background.jpg);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 500px;
  padding: 3% 0 0 0;
  margin-top: 40px;
  flex-shrink: 5;
}


.adresses {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downtown,
.bayside,
.oakdale {
background-color: black;
margin: 15px 40px;
width: 300px;
line-height: 35px;
}

/* Contact */
.contact {
  height: 200px;
}
/* Footer */
.copyright {
  display: flex;
  margin-left: 20px;
}
